img{
	border:  4px solid blue;  
	
}

h1{
	color : red;
	text-align: center;
}

div{
    text-align: center;

}

#buldog{ 
    font-weight: bold;
}

span.name {
	color : green;
	
}

li:hover { /* hover permet passer clique souris*/
	color : red;
	font-size: 35px ;
	 
	
}

body {
	background-color : black;
}

form{
	border : 4px solid white;
	margin-left	: 20px;
	
}