#perso
{
    width: 10%;
    height:20%;
}
#logo404
{
	text-align: center;
}
#jeu
{
  border : 10px black solid;
  border-radius: 10px ;
  height: 180%;

}
h1
{
	text-align: center;
	color: red;
}
input
{
	  background-color: red;
	  color: white;
	  font-size: 160%;
	  height: 40%;
	  border : solid red 10px;
	  border-radius: 10px;
}
#piece
{
	width: 8%;
	height: 5%;
}
