#perso
{
    width: 90px;
    height: 70px;
}
#logo404
{
	text-align: center;
}
#jeu
{
  border : 10px black solid;
  border-radius: 10px;

}
h1
{
	text-align: center;
	color: red;
}
input
{
	  background-color: red;
	  color: white;
	  font-size: 160%;
	  height: 40%;
	  border : solid red 10px;
	  border-radius: 10px;
}
#piece
{
	width: 20px;
	height: 30px;
	margin-left: 60px;
}
#boutonjouer
{
   margin-left: 47%;
}
#ennemie
{
	width:5%;
	height: auto;
	position: absolute;
	margin-left: 30%;
}