#perso
{
    width: 90px;
    height: 70px;
}
#logo404
{
	text-align: center;
}
#jeu
{
  border : 10px black solid;
  border-radius: 10px;
  width: 30%;
  height: 200px;
  margin:0 auto;

}
h1
{
	text-align: center;
	color: red;
}
input
{
	  background-color: red;
	  color: white;
	  font-size: 160%;
	  height: 40%;
	  border : solid red 10px;
	  border-radius: 10px;
	transition-duration: 2s;
}
input:hover
{
	background-color: #6D0404;
	border : solid #6D0404 10px;
}
#piece
{
	width: 20px;
	height: 30px;
	margin-left: 60px;
	position: relative;
}
#boutonjouer
{
   margin-left: 47%;
}
#ennemie
{
	width:5%;
	height: auto;
	position: relative;
	margin-left: 30%;
}
#afficherpoint
{
	font-size: 90%;
	border: 0px;
	background-color: white;
	color: black;
}