@font-face
{
  font-family: my_font;
  src: url("../font/titre.otf");
}
h1
{
	font-family: my_font;
	color : black;
	text-align : center;
	width: 100%;
	height: 10%;
	margin-top: -9px;
	margin-left: -9px;
	position:fixed;
	background-color: #E0D0D0;

}

.inscription
{
	background-color: #107DD4;
    color: black;
    height: 30px;
    border-radius: 10px;
    transition-delay: 150ms;
    color: black;

}
.inscription:hover
{
	height: 35px;
	transition-delay: 150ms;
	border-radius: 14px;
}
body
{
	background-color: #1F3886;
}
.spe
{
	font-family: my_font;
	border : solid 2px #E0D0D0;
	border-radius: 14px;
	background-color: #9808A6;
	margin : 0 auto;
	width: 50%;
	text-align: center;

}
.imagespe
{
	background-color: #1F3886;
	border: solid 2px #E0D0D0;
	width: 22%;
	border-radius: 14px;
}
.imagespe:hover
{
	border-radius: 30px;
}
img
{
	width: 100%;
}
footer
{
	color: white;
	text-align: center;
}
#messagerie
{
	width: 4%;
	margin-left: 50%;
	border: 2px solid #E0D0D0 ;
	background-color: #1F3886;
	border-radius: 10px;
}
#messagerie:hover
{
	border-radius: 25px;
}
.text
{
	opacity: 0;
	font-size: 20px;
	border: 2px solid #E0D0D0 ;
	background-color: #1F3886;
	border-radius: 10px;
	color: #9808A6;
}
section
{
	background-color: #E0D0D0;
	width: 50%;
	height: 500px;
	margin : 0 auto;
}
#messageriecadre
{
	text-align: center;
}

#send
{
	width: 4%;
	border-radius: 30px;
	background-color: #E0D0D0;
}
#send:hover
{
	width: 4.5%;
}
#logoindex
{
	width: 5%;
	position: relative;
    left: -22%;
}
#logocontacte
{
	width: 5%;
	position: relative;
    left: -40%;
}
#logospe
{
	width: 5%;
	position: relative;
    left: -35%;
}


