body
{
color:black;
background-color:white;
background-image:url(../images/notre_dame_bg.jpg);
background-repeat:no-repeat;
background-position:50% 50%;
text-align: center;
}
section.gen_descriptif
{
	background : white;
	text-align : center;
	margin-left : 25%;
	margin-right : 25%;
	height : 100%;
}

input.index
{
	width : 20%;
	height : 75%;
	color : black;
	border-radius: 10px;
	background-color : blue;
}
input.index:hover
{
	width : 25%;
	height : 80%
	color : orange;
	border-radius: 10px;
}
h2
{
	border-radius : 10px;
	text-align : center;
	color : white;
	width : 40%;
	background-color : black;
	
}
h1
{
	 position: fixed;
	 background-color : #0073ff ;
	 color : black;
	 border-radius : 20px orange;
	 text-align : center;
}
#spe1  // pour aligner droit les différentes sections 
{
	text-align :center;
	margin-left : 20%;
}
#spe2
{
	text-align :center;
	margin-left : 40%;
}
#spe3
{
	text-align :center;
	margin-left : 60%;
}
h3
{
	border-radius : 10px black;
	color : grey;
	width : 100%;
	height : 100%;
}
.choix
{
	background : black;
	text-align: center;
	width : 40%;
	
}