body
{
color:black;
background-color:white;
background-image:url(../images/notre_dame_bg.jpg);
background-repeat:no-repeat;
background-position:50% 50%;
text-align: center;
}
section.gen_descriptif
{
	background : white;
	text-align : center;
	margin-left : 25%;
	margin-right : 25%;
	height : 100%;
}

input.index
{
	width : 20%;
	height : 75%;
	border-radius: 10px;;
}
input.index:hover
{
	width : 25%;
	height : 80%;
	border-radius: 10px;
}
h2
{
	border-radius : 10px;
	text-align : center;
	color : white;
	width : 40%;
	background-color : black;
	
}
#cadretitre
{
	width: 100%;
	height: 10%;
	position:fixed;
	background-color: #0073ff;
	border-radius:20px;
	text-align: center;
}
h1
{	
	 border-left: 50%;
	 border-right: 50%;
	 color : black;
	 text-align : center;
}
#spe1  // pour aligner droit les différentes sections 
{
	text-align :center;
	margin-left : 20%;
	width: 20%;
	height: 50%;
}
#spe2
{
	text-align :center;
	margin-left : 40%;
	width: 20%;
	height: 50%;
}
#spe3
{
	text-align :center;
	margin-left : 60%;
	width: 20%;
	height: 50%;
}
h3
{
	border-radius : 10px black;
	color : grey;
	width : 100%;
	height : 100%;
}
.choix
{
	background : black;
	text-align: center;
	width : 40%;
	
}
footer {
    text-align: center;
    color: black;
    font-size: 18px;
}
#math
{
    background-image:url(../images/math.png);
}